<!-- <configuration> -->

<connectionStrings>
        <!--Define db connections here-->
<!--Change 02 -->        <!--<add name="MTV2_DB" connectionString="server=localhost;database=MedTrackV2_FoS;user id=MT_Web_User; pwd=WT9M3d6A$3RoNcE"/>-->
        <add name="MTV2_DB" connectionString="Server=10.137.168.54;Database=MTV2_FoS;User ID=mt-fos;Password=88-qw89.121"  />
    </connectionStrings>

<!-- </configuration> -->