<!-- <configuration> -->

<connectionStrings> 
    <!--<add name="MTV2_DB" connectionString="Server=uscac-ds01.informa.aws,1435;Database=MTv2_FOS;User ID=mt-fos-dev;Password=ved1sof2tm"  />-->
    <add name="MTV2_DB" connectionString="Server=localhost;Database=MTv2_FOS;User ID=mt-fos-dev;Password=ved1sof2tm"  />
 </connectionStrings>

<!-- </configuration> -->